{% extends "base.html" %}

{% block content %}
<form method="post">
    <head>
        <title>New Post</title>
    </head>
    <body>
        <h1>New Post</h1>
        <div class="error">{{error}}</div>

        <form method="post">
            <label>
                <div> Title</div>
                <input type="text" name="title" value="{{title}}">
            </label>

            <div> Post</div>
            <textarea name="bloge">{{bloge}}</textarea>
            <input type="submit">
        </form>


{% endblock %}
